body {
    padding-top: 65px;
}
.tex1{
    color: red;
    font-family: 'Lobster', monospace;
}
.tex2{
    color:blue;
    font-family: monospace, sans-serif;
}
#fox1{
    height: 200px;
    border-radius: 50%;
}
.dd{
    padding: 20px;
}

.dd2{
    padding-left: 15px;
}
.cardsize{
    width:18rem;
}
.cardimagesize{
    height: 286px;
    width: 286px;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.albumsize{
    width:600px;
    height:500px;
}
.ptsnas{
    font-family: 'PT Sans Narrow', monospace;
}
.varela{
    font-family: 'Varela Round', sans-serif;
}
.videossizes{
    width:420px;
    height:215px;
    border: solid;
    border-color: red;
    border-radius: 5px;
}