<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head'); -%>
</head>
<body>
<%- include('partials/menu'); -%>
<h1 class="tex1 text-center">Foxes Album</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 mt-5">
            <div class="card border-primary h-100">
                <img src="/img/fox2.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Red Fox</h5>
                    <p class="card-text">The red fox is a curious animal</p>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="card border-primary h-100">
                <img src="/img/fox3.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Red Fox</h5>
                    <p class="card-text">The red fox is a curious animal</p>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="card border-primary h-100">
                <img src="/img/fox4.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Red Fox</h5>
                    <p class="card-text">The red fox is a curious animal</p>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="card border-primary h-100">
                <img src="/img/articfox1.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Artic Fox</h5>
                    <p class="card-text">The Artic fox is a smart animal</p>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="card border-primary h-100">
                <img src="/img/articfox2.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Artic Fox</h5>
                    <p class="card-text">The Artic fox is a smart animal</p>
                </div>
            </div>
        </div>
        <div class="col-4 mt-5">
            <div class="card border-primary h-100">
                <img src="/img/articfox3.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Artic Fox</h5>
                    <p class="card-text">The Artic fox is a smart animal</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<%- include('partials/script'); -%>
</html>