<!DOCTYPE html>
<html>
<head>
<%- include('partials/head'); -%>
</head>
<body>
<%- include('partials/menu');-%>
<div class="jumbotron">
    <center>
        <h1 class="tex1 animated bounce">Welcome to the Fox Page</h1>
        <img id="fox1" src="/img/fox1.jpg">
    </center>
</div>
<div class="animated slideInLeft">
    <h3 class="ptsnas dd2">Foxes are solitary</h3>
    <p class="varela dd">Foxes are part of the Canidae family, which means they're related to wolves, jackals, and dogs. They're medium-sized, between 7 and 15 pounds, with pointy faces, lithe frames, and bushy tails. But unlike their relatives, foxes are not pack animals. When raising their young, they live in small families—called a "leash of foxes" or a "skulk of foxes"—in underground burrows. Otherwise, they hunt and sleep alone.</p>
    <h3 class="ptsnas dd2">The Red Fox is the most common fox</h3>
    <p class="varela dd">Geographically, the red fox has the widest range of the more than 280 animals in the order Carnivora. While its natural habitat is a mixed landscape of scrub and woodland, its flexible diet allows it to adapt to many environments. As a result, its range is the entire Northern Hemisphere, from the Arctic Circle to North Africa to Central America to the Asiatic steppes. It's also in Australia, where it's considered an invasive species.</p>
    <h3 class="ptsnas dd2">They are good parents</h3>
    <p class="varela dd">Foxes reproduce once a year. Litters range from one to 11 pups (the average is six), which are born blind and don't open their eyes until nine days after birth. During that time, they stay with the vixen (female) in the den while the dog (male) brings them food. They live with their parents until they're seven months old. Vixens have been known to go to great lengths to protect their pups—once, in England, a fox pup was caught in a wire trap for two weeks but survived because its mother brought it food every day.</p>
    <h3 class="ptsnas dd2">What foxes eat?</h3>
    <p class="varela dd">Foxes are omnivores and eat small mammals, birds, reptiles, frogs, eggs, insects, worms, fish, crabs, mollusks, fruits, berries, vegetables, seeds, fungi and carrion. In winter they mainly eat mammals, such as mice, rabbits and other small animals. In autumn their preference is fruit and berries like blackberries, apples and persimmons, plus acorns, sedges and tubers. In summer they eat lots of insects like crickets, beetles and caterpillars as well as frogs and mice. In spring they will fill up on birds' eggs and earthworms. They will even wade into shallow water for fish and crabs.</p>
    <h3 class="ptsnas dd2">How They Hunt</h3>
    <p class="varela dd">Foxes do a lot of hunting at dawn and dusk, but can hunt anytime. They hunt by stalking their live prey. They have excellent hearing and use a pouncing technique that allows them to kill the prey quickly. They listen for animals moving underground or under the snow in winter and use a combination of pouncing and digging to get to it. With larger prey such as rabbits, they stalk until they are close, but wait to attack until the rabbit turns to run away.</p>
</div>
</body>
<%- include('partials/script'); -%>

</html>