<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head'); -%>
</head>
<body>
<%- include('partials/menu'); -%>
<center>
    <h1 class="tex1 ">Foxes Videos</h1>
</center>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 mt-5">
            <iframe class="videossizes" src="https://www.youtube.com/embed/fQVhppRP4Wo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-4 mt-5">
            <iframe class="videossizes" src="https://www.youtube.com/embed/nrSdiqp0Dpk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-4 mt-5">
            <iframe class="videossizes" src="https://www.youtube.com/embed/jB4q-LcqcQY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-4 mt-5">
            <iframe class="videossizes" src="https://www.youtube.com/embed/BOkDxTuzQu0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-4 mt-5">
            <iframe class="videossizes" src="https://www.youtube.com/embed/YA7W9ff6X8g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-4 mt-5">
            <iframe class="videossizes" src="https://www.youtube.com/embed/_AtP7au_Q9w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
</body>
<%- include('partials/script'); -%>
</html>